@import "mixins";


/* You can add global styles to this file, and also import other style files */
// Permet de ne pas avoir les bordures sur les côtés du site

// Base
* {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--font-rosario);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3 {
  font-family: var(--font-raleway);
  font-weight: lighter;
}

// Variables

:root {
  --font-family: "Roboto", sans-serif;
  --primary: #d4b483;
  --secondary: #e4dfda;
  --blue-primary: #19647e;
  --blue-secondary: #3a506b;
  --accent: #e5546d;
  --lightgray: #ddd;
  --text-regular: #444;
  //Typography
  --small: 12rem;
  --medium: 16rem;
  --large: 20rem;

  --font-raleway: "Raleway", sans-serif;
  --font-rosario: "Rosario", sans-serif;
}

html,
body {
  margin: auto;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
app-root {
  flex: 1;
  display: flex;
  flex-direction: column;
}
