@import "mixins";

// Permet de ne pas avoir les bordures sur les côtés du site

// Base
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

// Variables

:root {
    --font-family: "Roboto", sans-serif;
    --primary: #D4B483;
    --secondary: #e4dfda;
    --blue-primary: #19647e;
    --blue-secondary: #3a506b;
    --accent: #e5546d;
    --lightgray: #ddd;
    --text-regular: #444;
}