@import "mixins";

/* You can add global styles to this file, and also import other style files */
// Permet de ne pas avoir les bordures sur les côtés du site

// Base
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
h1{
  font-family: var(--font-raleway);
  font-weight: lighter;
}

// Variables

:root {
    --font-family: "Roboto", sans-serif;
    --primary: #D4B483;
    --secondary: #e4dfda;
    --blue-primary: #19647e;
    --blue-secondary: #3a506b;
    --accent: #e5546d;
    --lightgray: #ddd;
    --text-regular: #444;
    //Typography
    --small:12rem;
    --medium:16rem;
    --large:20rem;

    --font-raleway:'Raleway', sans-serif;
    --font-rosario:'Rosario', sans-serif;


  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
