<app-btn-edit [routerLink]="['/user', customer?.customerId, 'edit']"></app-btn-edit>

<mat-list-item>
    <div class="blueTitle">
        Nom :
    </div>
</mat-list-item>
<mat-divider></mat-divider>
<mat-list-item>
    {{ customer?.lastName }}
</mat-list-item>
<mat-list-item>
    <div class="blueTitle">
        Prenom :
    </div>
</mat-list-item>
<mat-divider></mat-divider>
<mat-list-item>
    {{ customer?.firstName }}
</mat-list-item>
<mat-list-item>
    <div class="blueTitle">
        Telephone :
    </div>
</mat-list-item>
<mat-divider></mat-divider>
<mat-list-item>
    {{ customer?.phoneNumber }}
</mat-list-item>
<mat-list-item>
    <strong>
        Détails de connexion
    </strong>
</mat-list-item>
<mat-list-item>
    <div class="blueTitle">
        E-mail :
    </div>
</mat-list-item>
<mat-divider></mat-divider>
<mat-list-item>
    {{ customer?.email }}
</mat-list-item>
<mat-list-item>
    <div class="blueTitle">
        Mot de passe :
    </div>
</mat-list-item>
<mat-divider></mat-divider>
<mat-list-item>
    *****
</mat-list-item>