._cart {
  text-align: center;

  &-item {
    background-color: var(--whitegray);
    padding: 0;
  }
  .card {
    border: none;
    background-color: var(--whitegray);
    &-header {
      background-color: var(--blue-primary);
    }
  }
  &-center {
    text-align: center;
  }
}
