@use '../../../../../sass/mixins' as m;

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  display: flex;
  position: relative;
}

label div {
  background-color: white;
  color: #19647e;
  position: relative;
  top: 8px;
  left: 15px;
  padding: 0 5px;
  z-index: 2;
}

.input-eye {
  display: flex;
  align-items: center;
  position: relative;

  input {
    border: 0.5px solid #19647e;
    border-radius: 10px;
    padding: 10px 10px;
    width: 100%;
    position: relative;
  }

  span {
    padding: 5px;
    position: absolute;
    right: 10px;
  }
}

@include m.bk-desktop {
  .container {
    input {
      padding: 15px 10px;
    }
  }
}
