<div class="container-edit">
    <h1>Modifier mes informations</h1>

    <form action="" class="modifyForm" (ngSubmit)="saveCustomer()" [formGroup]="customerForm">
        <div class="name">
            <app-input forInput="lastName" textLabel="Nom" typeInput="text" id="lastname"></app-input>
            <app-input forInput="firstName" textLabel="Prénom" typeInput="text" id="firstname"></app-input>
        </div>
        <div class="contactInfos">
            <app-input forInput="phoneNumber" textLabel="Téléphone" typeInput="text" id="phoneNumber"></app-input>
            <app-input forInput="email" textLabel="Email" typeInput="email" id="email"></app-input>
        </div>

        <app-btn-component classBtn="btn btn-submit" textBtn="Modifier"></app-btn-component>
    </form>
</div>