@use "../../../../../sass/mixins" as m;

.title {
    padding-bottom: 50px;
}

.gameForm {

    .twice {
        display: flex;
        justify-content: space-between;
        padding: 3px;

        app-input {
            width: 49%;
        }
    }

    .boxes {
        display: flex;
        padding-left: 30px;

        .box {
            padding-top: 10px;
            width: 50%;

            label {
                display: flex;
                padding: 10px;

                .name {
                    padding-left: 10px;
                }
            }

            .titleSection {
                color: var(--blue-primary);
                padding: 15px 10px;
            }

        }
    }

    .btn-small {
        display: flex;
        justify-content: flex-end;

        app-btn-component {
            width: 15%;
            padding-bottom: 5px;
        }
    }

    .checkbox-wrapper-4 * {
        box-sizing: border-box;
    }

    .title-img {
        color: var(--blue-primary);
    }
}