<app-navbar-admin (onToggleSideNav)="onToggleSideNav($event)">
    <div class="container">
        <h1>{{ isAddMode ? 'Ajouter' : 'Modifier'}} mes informations</h1>

        <form action="" class="gameForm" [formGroup]="gameForm">
                <div class="twice">
                    <app-input forInput="gameName" textLabel="Nom du jeu" typeInput="text"></app-input>
                    <app-input forInput="gameDescr" textLabel="Description du jeu" typeInput="text" id="gameDescr"></app-input>
                </div>
                <div class="twice">
                    <app-input forInput="stock" textLabel="Nombre de jeux" typeInput="text" id="stock"></app-input>
                    <app-input forInput="gamePrice" textLabel="Prix du jeu" typeInput="text" id="gamePrice"></app-input>
                </div>

            <app-btn-component classBtn="btn btn-submit"
                textBtn="{{ isAddMode ? 'Ajouter' : 'Modifier'}}"></app-btn-component>
        </form>
    </div>
</app-navbar-admin>