<app-navbar-admin (onToggleSideNav)="onToggleSideNav($event)">
    <div class="container">
        <div class="title">
            <h1><strong>
                    {{ isAddMode ? 'Ajouter' : 'Modifier'}} mes informations
                </strong></h1>
        </div>
        <form action="" class="gameForm" [formGroup]="gameForm" (ngSubmit)="saveGame()">
            <div class="twice">
                <app-input forInput="gameName" textLabel="Nom du jeu" typeInput="text"></app-input>
                <app-input forInput="gameDescr" textLabel="Description du jeu" typeInput="text"
                    id="gameDescr"></app-input>
            </div>
            <div class="twice">
                <app-input forInput="stock" textLabel="Nombre de jeux" typeInput="number" id="stock"></app-input>
                <app-input forInput="gamePrice" textLabel="Prix du jeu" typeInput="number" id="gamePrice"></app-input>
            </div>
            <app-input class="img" forInput="image" textLabel="Image du jeu" typeInput="file" id="image"></app-input>
            <div class="twice">
                <app-input forInput="minPlayer" textLabel="Nombre minimum de joueur" typeInput="number"
                    id="minPlayer"></app-input>
                <app-input forInput="maxPlayer" textLabel="Nombre maximum de joueur" typeInput="number"
                    id="gamePrice"></app-input>
            </div>
            <div class="twice">
                <app-input forInput="minAge" textLabel="Age minimum du jeu" typeInput="number" id="minAge"></app-input>
            </div>
            <div class="boxes">
                <ng-container *ngIf="types$ | async as types">
                    <div class="box">
                        <p class="titleSection">Type :</p>
                        <mat-radio-group formControlName="typeId">
                            <div *ngFor="let type of types">
                                <mat-radio-button value="{{ type.typeId}}">
                                    {{ type.name}}
                                </mat-radio-button>
                            </div>
                        </mat-radio-group>
                    </div>
                </ng-container>

                <ng-container *ngIf="editors$ | async as editors">
                    <div class="box">
                        <p class="titleSection">Editeur :</p>
                        <mat-radio-group formControlName="editorId">
                            <div *ngFor="let editor of editors">
                                <mat-radio-button value="{{ editor.editorId}}">
                                    {{ editor.name}}
                                </mat-radio-button>
                            </div>
                        </mat-radio-group>
                    </div>
                </ng-container>
            </div>
            <div class="boxes">
                <ng-container *ngIf="languages$ | async as languages">
                    <div class="box">
                        <p class="titleSection">Langues :</p>
                        <div>
                            <ng-container *ngFor="let language of languages">
                                <label>
                                    <input type="checkbox" value="{{ language.languageId }}"
                                        (change)="handleLangs($event)">
                                    <div class="name">
                                        {{ language.name}}
                                    </div>
                                </label>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="tags$ | async as tags">
                    <div class="box">
                        <p class="titleSection">Tags :</p>

                        <ng-container *ngFor="let tag of tags">
                            <label>
                                <input type="checkbox" value="{{ tag.tagId }}" (change)="handleTags($event)">
                                <div class="name">
                                    {{ tag.name}}
                                </div>
                            </label>
                        </ng-container>
                    </div>
                </ng-container>
            </div>

            <div class="btn-small">
                <app-btn-component classBtn="btn btn-submit"
                    textBtn="{{ isAddMode ? 'Ajouter' : 'Modifier'}}"></app-btn-component>
            </div>

        </form>
    </div>

    {{ gameForm.value | json }}

</app-navbar-admin>