<header *ngIf="showHeader">
    <div class="nav-bar">
        <div class="logo">
            <a routerLink="">GamesLOC</a>
        </div>
        <app-search-bar classSchBar="input sh-nav" placeholderSchBar="jeux" *ngIf="showSearchBar"></app-search-bar>
        <div class="icons">
            <div class="icon">
                <a routerLink="/auth/login" class="display-connexion"><ng-icon size="30" name="bootstrapPersonCircle"></ng-icon></a>
            </div>
            <div class="icon">
                <app-btn-component [classBtn]="classBtn" [textBtn]="textBtn" routerLink="/auth/login"></app-btn-component>
            </div>
            <div routerLink="/cart" class="icon column">
                <a><ng-icon size="30" name="bootstrapCart"></ng-icon></a>
                <span class="dis-card">Panier</span>
            </div>
        </div>

    </div>
</header>

<app-search-bar classSchBar="input sh-mobile" placeholderSchBar="jeux" *ngIf="showSearchBar"></app-search-bar>

