@use '../../../../sass/mixins' as m;
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    font-weight: bold;
    color: white;
    height: 80px;
    padding: 25px;

    // Tous les a dans la classe nav-bar ont les mêmes caractéristiques
    a {
        text-decoration: none;
        color: white;

    }

    .icons {
        display: flex;
        justify-content: space-around;
        width: 25%;

        @include m.bk-tablette {
            padding-right: 10px;
        }

        .icon {
            border-spacing: 0;
            padding: 15px 15px;
            cursor: pointer;

        }

        .icon:nth-child(1) {
            border-right: 1px solid white;

            @include m.bk-laptop {
                display: none; 
                border-right: none;
            }

        }

        .icon:nth-child(2) {
            display: none; 

            @include m.bk-laptop {
                display: inline;
            }
        }
        .icon:nth-child(3) {
            border-left: 1px solid white;

            @include m.bk-tablette {
                border-left: none;
            }

        }

        .column {
            @include m.bk-laptop {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 10px;
            }

            .dis-card {
                display: none;

                @include m.bk-laptop {
                    display: block;
                }

            }
        }

    }
}

// Class Input à récupérer pour mettre dans un component
.input {
    display: flex;
    align-items: center;
    padding: 4px;
    margin: 20px;
    border: 1.3px solid var(--blue-primary);
    border-radius: 10px;
    overflow: hidden;

    input {
        padding: 10px;
        width: 100%;
        border: none;
    }

    .search {
        padding: 5px;
    }
}

.sh-nav {
    visibility: hidden;

    @include m.bk-tablette {
        visibility: visible;
        background-color: white;
        border: white;
        width: 45%;

        .search {
            color: black;
        }

    }

}

.sh-mobile {

    @include m.bk-tablette {
        display: none;
    }
}