<header>
    <div class="nav-bar">
        <div class="logo">
            <a routerLink="">GamesLOC</a>
        </div>
        <app-search-bar classSchBar="input sh-nav" placeholderSchBar="jeux" *ngIf="showSearchBar"></app-search-bar>
        <div class="icons">
            <div class="icon">
                <a routerLink="/auth/login" class="display-connexion"><i class="fa-solid fa-user"></i></a>
            </div>
            <div class="icon">
                <app-btn-component [classBtn]="classBtn" [textBtn]="textBtn" routerLink="/auth/login"></app-btn-component>
            </div>
            <div routerLink="/cart" class="icon column">
                <a><i class="fa-solid fa-cart-shopping"></i></a>
                <span class="dis-card">Panier</span>
            </div>
        </div>

    </div>
</header>

<app-search-bar classSchBar="input sh-mobile" placeholderSchBar="jeux" *ngIf="showSearchBar"></app-search-bar>

