<ng-container>
  <div class="commentary">
    <h2>Laissez-nous votre avis !</h2>
    <div class="container">
      <form [formGroup]="commentaryForm" (ngSubmit)="PostComment()">
        <ngb-rating [max]="5" [readonly]="false" formControlName="rating"></ngb-rating>
        <div class="form-group">
          <label for="comentaryForm" class="commentaryTitle">Votre commentaire</label>
          <textarea class="form-control" id="comentaryForm" rows="3" formControlName="comment"
                    placeholder="Laissez-nous un commentaire..."></textarea>
        </div>
        <div class="btn-width">
          <app-btn-component textBtn="Commenté !" classBtn="btn-connexionPage btn"></app-btn-component>
        </div>
      </form>
    </div>

  </div>

</ng-container>
