<ng-container [formGroup]="form">
  <div class="container">
    <label for="{{ forInput }}">
      <div>{{ textLabel }}</div>
    </label>

    <textarea *ngIf="isTextArea" placeholder="{{ placeholderInput }}" id="{{ forInput }}"
      formControlName="{{ forInput }}"></textarea>

    <input *ngIf="!isTextArea" type="{{ typeInput }}" placeholder="{{ placeholderInput }}" id="{{ forInput }}"
      formControlName="{{ forInput }}" [readonly]="readonly">

    <ng-container *ngIf="checkValidity()">
      <app-error-message [errors]="errors"></app-error-message>
    </ng-container>
    <ng-content>

    </ng-content>
  </div>
</ng-container>