<ng-container *ngIf="game">
  <div class="container-product">
    <div *ngIf="currentWindowWidth! < 768" class="head-mobile">
      <a routerLink="" class="head-icon">
        <ng-icon size="20" name="bootstrapArrowReturnLeft"></ng-icon>
      </a>
      <h1 class="title-product">{{ game.gameName }}</h1>
    </div>
    <div class="product-flex">
      <img
        src="./assets/Predator_Wallpaper_02_3840x2400.jpg"
        alt="exemple d'un jeu de société"
      />
      <div class="detail-product">
        <h1 *ngIf="currentWindowWidth! > 768" title="title-product">
          {{ game.gameName }}
        </h1>
        <ng-icon
          *ngIf="!isGameLiked"
          size="25"
          name="bootstrapHeartFill"
          (click)="addToFavorites(game!)"
        >
          Add favorite
        </ng-icon>
        <ng-icon
          *ngIf="isGameLiked"
          size="25"
          color="#FF0000"
          name="bootstrapHeartFill"
          (click)="removeToFavorites(game!)"
        >
          removefavorite
        </ng-icon>
        <span class="price">{{
          game.gamePrice | currency : "EUR" : "symbol" : "2.2-2" : "fr"
        }}</span>
        <ng-container class="stock" *ngIf="game.stock">
          <p
            [ngClass]="{
              'in-stock': game!.stock > 20,
              'low-stock': game!.stock <= 20,
              'out-of-stock': game!.stock <= 10
            }"
          >
            Stock : <span> {{ game.stock }}</span>
          </p>
        </ng-container>
        <span class="notice">
          <ng-icon size="25" name="bootstrapStar"></ng-icon>
          <ng-icon size="25" name="bootstrapStar"></ng-icon>
          <ng-icon size="25" name="bootstrapStar"></ng-icon>
          <ng-icon size="25" name="bootstrapStar"></ng-icon>
          <ng-icon size="25" name="bootstrapStar"></ng-icon>
          <span class="total-notice">(26 avis)</span>
        </span>
        <app-btn-component
          classBtn="btn btn-add"
          textBtn="Ajouter au panier"
          (click)="addToCart()"
        ></app-btn-component>

        <div
          *ngIf="errorMessage"
          class="popup"
          [ngClass]="{ 'show-popup': errorMessage }"
        >
          <div class="popup-content">
            <h2>Erreur</h2>
            <p>{{ errorMessage }}</p>
            <button (click)="closePopup()">Fermer</button>
          </div>
        </div>
      </div>
    </div>
    <h2>Description</h2>
    <p [ngClass]="input ? 'clamp' : 'text'">
      {{ game.gameDescr }}
    </p>
    <span class="more">
      <a (click)="more()">Voir plus...</a>
    </span>
    <h2>Caractéristiques</h2>
    <div class="game-details-container">
      <table class="game-details-table">
        <tr>
          <th colspan="2" class="game-details-header">Détails du jeu</th>
        </tr>
        <tr>
          <td class="game-details-left">
            <p class="game-details-label">Age (à partir de) :</p>
            <p class="game-details-content">{{ game.minAge }} ans</p>
            <p class="game-details-label">
              {{
                game.minPlayer
                  ? game!.minPlayer > 1
                    ? "Nombre de joueurs"
                    : "Nombre de joueur"
                  : "Nombre de joueur non spécifié"
              }}
            </p>
            <p class="game-details-content">
              {{ game.minPlayer }} à {{ game.maxPlayer }}
            </p>
            <p class="game-details-label">Éditeur :</p>
            <p class="game-details-content">
              {{ game.editor.name }}
            </p>
          </td>
          <td class="game-details-right">
            <p class="game-details-label">Type :</p>
            <p class="game-details-content">{{ game.type.name }}</p>
            <p class="game-details-label">
              {{
                game.languages
                  ? game.languages!.length > 1
                    ? "Langues"
                    : "Langue"
                  : ""
              }}
              :
            </p>
            <p class="game-details-content">
              <span *ngFor="let language of game.languages">
                {{ language.name }}
              </span>
            </p>
            <p class="game-details-label">
              {{
                game.tags
                  ? game.tags!.length > 1
                    ? "Catégories"
                    : "Catégorie"
                  : ""
              }}
              :
            </p>
            <p class="game-details-content">
              <span *ngFor="let language of game.languages">
                {{ language.name }}
              </span>
            </p>
            <p class="game-details-label">
              {{
                game.tags
                  ? game.tags!.length > 1
                    ? "Catégories"
                    : "Catégorie"
                  : ""
              }}
              :
            </p>
            <p class="game-details-content">
              <span *ngFor="let tag of game.tags">
                {{ tag.name }}
              </span>
            </p>
          </td>
        </tr>
      </table>
    </div>

    <h2>Commentaires</h2>
    <ng-container *ngIf="checkIfOrdered() && !checkAlreadyCommented()">
      <app-commentary-form [gameId]="game.gameId"></app-commentary-form>
    </ng-container>
    <app-commentary [commentaries]="commentaries"></app-commentary>
  </div>
</ng-container>
