<div class="container-product">
  <div class="title-product">
    <button>
      <a>
        <i class="fa-solid fa-chevron-left center"></i>
      </a>
    </button>
    <h1>{{ game?.gameName }}</h1>
  </div>
  <div class="img-product">
    <div class="img-size">
      <img src="{{ game?.image }}" alt="exemple d'un jeu de société" />
    </div>
    <div class="text-product">
      <p>{{ game?.gamePrice }}</p>
      <p>Disponible a partir du 01/08/2023</p>
      <p>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <span class="notice">(26 avis)</span>
      </p>
      <app-btn-component
        classBtn="btn btn-add"
        textBtn="Ajouter au panier"
      ></app-btn-component>
    </div>
  </div>
  <h2>Description</h2>
  <p [ngClass]="input ? 'clamp' : 'text'">
    {{ game?.gameDescription }}
  </p>
  <span class="more">
    <a (click)="more()">Voir plus...</a>
  </span>
  <h2>Caractéristiques</h2>
  <p>Age (à partir de) : {{ game?.minAge }} ans</p>
  <p>Nombre de joueur(s): {{ game?.minPlayer }} à {{ game?.maxPlayer }}</p>
  <p>Éditeur: Hasbro</p>

  <h2>Commentaire (2)</h2>
  <app-commentary
    classCommentary="commentary"
    nameCommentary="nameCommentary"
    ratingCommentary="ratingCommentary"
    rating="rating"
    ratingDate="ratingDate"
    contentCommentary="contentCommentary"
    class
  ></app-commentary>
</div>
