<app-navbar-admin (onToggleSideNav)="onToggleSideNav($event)">
    <h2><strong>Liste des commandes</strong></h2>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

            <!-- idColumn -->
            <ng-container matColumnDef="idCommande">
                <th mat-header-cell *matHeaderCellDef>#idCommande</th>
                <td mat-cell *matCellDef="let element"> {{element.orderId}} </td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="client">
                <th mat-header-cell *matHeaderCellDef> Mail du client</th>
                <td mat-cell *matCellDef="let element">{{element.customer.email}}</td>
            </ng-container>

            <!-- Games Column -->
            <ng-container matColumnDef="locatedGame">
                <th mat-header-cell *matHeaderCellDef>Jeux Loués</th>
                <td mat-cell *matCellDef="let element"><span *ngFor="let game of element.games">{{game.gameName}}
                    </span></td>
            </ng-container>

            <!-- Price Column -->
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef>Prix</th>
                <td mat-cell *matCellDef="let element"> {{element.price}} &euro;</td>
            </ng-container>

            <!-- orderDate Column -->
            <ng-container matColumnDef="orderDate">
                <th mat-header-cell *matHeaderCellDef>Date achat</th>
                <td mat-cell *matCellDef="let element"> {{element.orderDate | date: 'dd/MM/yyyy'}} </td>
            </ng-container>

            <!-- returnDate Column -->
            <ng-container matColumnDef="returnDate">
                <th mat-header-cell *matHeaderCellDef>Date retour</th>
                <td mat-cell *matCellDef="let element"> {{element.returnDate | date: 'dd/MM/yyyy'}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of location">
        </mat-paginator>
    </div>
</app-navbar-admin>