<footer *ngIf="showFooter">
  <section class="textLinks">
    <ul>
      <li>
        <a href="">CVG</a>
      </li>
      <li>
        <a href="">Contact</a>
      </li>
      <li>
        <a href="">Préférences de cookies</a>
      </li>
    </ul>
  </section>
  <section class="iconLinks">
    <div>
      <a href="https://github.com/SGdevWeb/">
        <ng-icon size="25" color="#1877F2" name="bootstrapFacebook"></ng-icon>
      </a>
      <a href="https://github.com/GaetanMgld">
        <ng-icon size="25" color="#171515" name="bootstrapTiktok"></ng-icon>
      </a>
      <a href="https://github.com/Naolox">
        <ng-icon size="25" color="#f09433" name="bootstrapInstagram"></ng-icon>
      </a>
      <a href="https://github.com/nbeun25">
        <ng-icon size="25" color="#1DA1F2" name="bootstrapTwitter"></ng-icon>
      </a>
    </div>
  </section>
  <div class="separator"></div>
  <div class="rights">
    <span>&#169;</span>
    <p>GamesLoc. All rights reserved</p>
  </div>
</footer>
