<!--<footer *ngIf="showFooter" class="footer">-->
<!--  <section class="textLinks">-->
<!--    <ul>-->
<!--      <li>-->
<!--        <a href="">CVG</a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a href="">Contact</a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a href="">Préférences de cookies</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </section>-->
<!--  <section class="iconLinks">-->
<!--    <div>-->
<!--      <a href="https://github.com/SGdevWeb/">-->
<!--        <ng-icon size="25" color="#1877F2" name="bootstrapFacebook"></ng-icon>-->
<!--      </a>-->
<!--      <a href="https://github.com/GaetanMgld">-->
<!--        <ng-icon size="25" color="#171515" name="bootstrapTiktok"></ng-icon>-->
<!--      </a>-->
<!--      <a href="https://github.com/Naolox">-->
<!--        <ng-icon size="25" color="#f09433" name="bootstrapInstagram"></ng-icon>-->
<!--      </a>-->
<!--      <a href="https://github.com/nbeun25">-->
<!--        <ng-icon size="25" color="#1DA1F2" name="bootstrapTwitter"></ng-icon>-->
<!--      </a>-->
<!--    </div>-->
<!--  </section>-->
<!--  <div class="separator"></div>-->
<!--  <div class="rights">-->
<!--    <span>&#169;</span>-->
<!--    <p>GamesLoc. All rights reserved</p>-->
<!--  </div>-->
<!--</footer>-->

<!-- Footer -->
<footer class="text-center text-white">
  <!-- Grid container -->
  <div class="container">
    <!-- Section: Links -->
    <section class="d-flex justify-content-center">
      <!-- Grid row-->
      <div class="row text-center d-flex justify-content-center pt-5">
        <div class="col-md">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!" class="text-white text-decoration-none">CVG</a>
          </h6>
        </div>

        <div class="col-md">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!" class="text-white text-decoration-none">Contact</a>
          </h6>
        </div>

        <div class="col-md">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!" class="text-white text-decoration-none">Cookies</a>
          </h6>
        </div>
      </div>
      <!-- Grid row-->
    </section>
    <!-- Section: Links -->

    <hr class="my-5"/>

    <!-- Section: Text -->
    <p class="text-center">
      Merci d'être venu visiter notre site et à bientôt !
    </p>

    <!-- Section: Text -->

    <!-- Section: Social -->
    <section class="d-flex justify-content-center mb-5">
      <a href="https://github.com/SGdevWeb/" class="text-white me-4">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://github.com/GaetanMgld" class="text-white me-4">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://github.com/Naolox" class="text-white me-4">
        <i class="fab fa-google"></i>
      </a>
      <a href="https://github.com/nbeun25" class="text-white me-4">
        <i class="fab fa-instagram"></i>
      </a>
    </section>
    <!-- Section: Social -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div
    class="text-center p-3"
    style="background-color: rgba(0, 0, 0, 0.2)"
  >
    © 2023 Copyright:
    <a class="text-white text-decoration-none">GamesLoc. All rights reserved</a
    >
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->


