<ng-container *ngIf="commentaries.length > 0; else noCommentaries">
  <ng-container *ngFor="let commentary of commentaries">
    <div class="commentary">
      <div class="nameCommentary">{{commentary.customer.firstName + " " + commentary.customer.lastName}}
        <ng-container *ngIf="commentary.rating !== null">
          <div class="rating">
            <ngb-rating [max]="5" [(rate)]="commentary.rating" [readonly]="true"></ngb-rating>
          </div>
  </ng-container>
        <div>
          <div class="ratingDate">Déposé le {{commentary.publishDate  | date: 'dd/MM/yyyy'}}</div>
        </div>
      </div>
      <div class="contentCommentary">
        {{commentary.comment}}
      </div>
    </div>
  </ng-container>
</ng-container>
<ng-template #noCommentaries>
  <h2>Aucun commentaires pour le moment !</h2>
</ng-template>


