<div class="container">
  <div class="titleDiv">
    <button>
      <a>
        <i class="fa-solid fa-chevron-left"></i>
      </a>
    </button>
    <h1>{{title}}</h1>
  </div>
  <div >
    <div class="imgDiv">
      <img src="../../../../../assets/exempleImg.webp" height="700" width="700" alt="exemple d'un jeu de société"/>
    </div>
    <div class="textDiv">
      <p>8€/semaine</p>
      <p>Disponible a partir du 01/08/2023</p>
      <p>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <span>(26 avis)</span>
      </p>
    </div>
  </div>
  <div>
    <div>
      <h2>Description</h2>
    </div>
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus alias deleniti eaque eligendi iusto molestias mollitia ratione vel! Dolorum ducimus harum illum natus nobis provident rerum tempore velit vitae!</p>
    </div>
  </div>
  <div>
    <h2>Caractéristiques</h2>
    <p>Age (à partir de) : 8 ans</p>
    <p>Nombre de joueur(s): 2 à 4</p>
    <p>Éditeur: Hasbro</p>
  </div>
  <div>
    <app-btn-component textBtn="Ajouter au panier"></app-btn-component>
  </div>
</div>
