@use "../../../../../sass/mixins" as m;

p{
  font-family: var(--font-rosario);
}

.container-product {
  display: flex;
  flex-direction: column;
  width: 100%;

  .title-product {
    display: flex;
    justify-content: center;

    @include m.bk-laptop {
      padding: 0rem 1rem;
      font-size: 2rem;
    }

    h1 {
      margin-top: 0px;
      margin-right: auto;

      @include m.bk-laptop {
        width: 100%;
        text-align: center;
      }
    }

    button {
      width: 25px;
      margin-right: auto;

      @include m.bk-laptop {
        visibility: hidden;
        display: none;
      }
    }
  }

  .img-product {
    margin-top: 1rem;
    text-align: center;

    @include m.bk-laptop {
      display: flex;
    }
    .img-size {
      width: 100%;

      @include m.bk-laptop {
        width: 50%;
        margin-left: 2rem;
      }

      @include m.bk-desktop {
        width: 90%;
      }
    }

    img {
      width: 80%;
      

      @include m.bk-laptop {
        width: 100%;
      }

      @include m.bk-desktop {
        width: 80%;
        height: 90%;
      }
    }

    .text-product {
      margin: 1rem;

      @include m.bk-laptop {
        display: flex;
        flex-direction: column;
        text-align: center;  
        width: 50%;
        justify-content: space-evenly
      }

      p {
        margin: 1rem;
        text-align: center;
        
        @include m.bk-tablette {
          font-size: 1.5rem;
        }

        @include m.bk-desktop {
          font-size: 2rem;
        }
      }
      .notice {
        margin-left: 10px;
      }
    }
  }
  h2 {
    margin: 0rem 2rem;
    color: #19647e;
    border-bottom: 1px solid #19647e;
    font-family: var(--font-raleway);
  }

  p,.clamp {
    margin: 1rem 2rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    overflow: hidden;

    @include m.bk-laptop {
      font-size: 1.3rem;
      display: block;
      text-align: center;
    }
  }
  .text{
    margin: 1rem 2rem;
    display: block; 
  }

  .more {
    display: block;
    text-align: right;
    color: #19647e;
    margin-right: 2rem;
    font-size: 15px;

    @include m.bk-laptop {
      visibility: hidden;
    }
  }
}
