@use "../../../../../sass/mixins" as m;

.container-edit {
    margin: auto;
    text-align: center;
    padding: 20px;

    .modifyForm {
        justify-content: center;

        @include m.bk-laptop {

            .twice {
                display: flex;
                justify-content: space-between;
                padding: 3px;

                app-input {
                    width: 49%;
                }
            }

        }

    }
}