<div class="{{ classCommentary }}">
  <div class="{{ nameCommentary }}">Pseudonyme</div>
  <div class="{{ ratingCommentary }}">
    <div class="{{ rating }}">
      <i class="fa-regular fa-star"></i>
      <i class="fa-regular fa-star"></i>
      <i class="fa-regular fa-star"></i>
      <i class="fa-regular fa-star"></i>
      <i class="fa-regular fa-star"></i>
      <span class="notice">(26 avis)</span>
    </div>
    <div>
      <div class="{{ ratingDate }}">Déposé le 04/07/2023</div>
    </div>
  </div>
  <div class="{{ contentCommentary }}">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur
    voluptatum suscipit, perferendis voluptates totam temporibus eius a odit
    praesentium amet nesciunt id asperiores, sed reiciendis similique commodi
    sequi, corporis quae!
  </div>
</div>
