@use "../../../../../sass/mixins" as m;

.flexCard {
  flex-wrap: wrap;
  display: flex;
  gap: 1rem;
  width: 100%;
  padding-top: 1rem;

  @include m.bk-tablette-max-M {  
  
    height: 400px;
    overflow: hidden;
    overflow-y: scroll;
    justify-content: center 
  }
  .cardItem{
    @include m.bk-tablette-max-M {  
      width: 90%;     
    }
  }
}
