@use "../../../../../sass/mixins" as m;

.flexCard {
  margin: auto;
  height: 600px;
  overflow: hidden;
  overflow-y: scroll;
  
  @include m.bk-tablette{
    width: 70%;
  
  }

  @include m.bk-laptop{
   width: 100%;
   
   
  }
}
