<h1>Mon compte</h1>
<mat-accordion>

    <!-- Mes informations -->
    <app-accordion-item panelTitle="Mes informations">

        <app-user-accordion></app-user-accordion>

    </app-accordion-item>

    <!-- Mon adresse de livraison -->
    <app-accordion-item panelTitle="Mon adresse de livraison">

        <app-user-address-accordion></app-user-address-accordion>

    </app-accordion-item>

    <!-- Mes commandes -->
    <app-accordion-item panelTitle="Mes commandes">

        <app-orders-accordion></app-orders-accordion>

    </app-accordion-item>



</mat-accordion>
