<app-btn-edit [routerLink]="['/user', customerAddress?.customerId, 'edit', 'address']"></app-btn-edit>

<mat-list-item>
    <div class="blueTitle">
        Numéro :
    </div>
</mat-list-item>
<mat-divider></mat-divider>
<mat-list-item>
    {{ customerAddress?.address?.numberAddress }}
</mat-list-item>

<div *ngIf="customerAddress?.address?.complementaryNumber !== null">
    <mat-list-item>
        <div class="blueTitle">
            Complément de numéro :
        </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        {{ customerAddress?.address?.complementaryNumber }}
    </mat-list-item>
</div>

<mat-list-item>
    <div class="blueTitle">
        Adresse :
    </div>
</mat-list-item>
<mat-divider></mat-divider>
<mat-list-item>
    {{ customerAddress?.address?.streetName }}
</mat-list-item>
<div *ngIf="customerAddress?.address?.complementaryAddress; else emptyComplementaryAddress">
    <mat-list-item>
        <div class="blueTitle">
            Complément d'adresse :
        </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        {{ customerAddress?.address?.complementaryAddress }}
    </mat-list-item>
</div>
<ng-template #emptyComplementaryAddress></ng-template>
<mat-list-item>
    <div class="blueTitle">
        Code postal :
    </div>
</mat-list-item>
<mat-divider></mat-divider>
<mat-list-item>
    {{ customerAddress?.address?.city?.postalCode }}
</mat-list-item>
<mat-list-item>
    <div class="blueTitle">
        Ville :
    </div>
</mat-list-item>
<mat-divider></mat-divider>
<mat-list-item>
    {{ customerAddress?.address?.city?.cityName }}
</mat-list-item>