<mat-list-item>
    <div class="blueTitle">
        Numéro :
    </div>
</mat-list-item>
<mat-divider></mat-divider>
<mat-list-item>
    {{ userAddress?.numberAddress }}
</mat-list-item>

<div *ngIf="userAddress?.complementaryNumber !== null">
    <mat-list-item>
        <div class="blueTitle">
            Complément de numéro :
        </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        {{ userAddress?.complementaryNumber }}
    </mat-list-item>
</div>

<mat-list-item>
    <div class="blueTitle">
        Adresse :
    </div>
</mat-list-item>
<mat-divider></mat-divider>
<mat-list-item>
    {{ userAddress?.streetName }}
</mat-list-item>
<mat-list-item>
    <div class="blueTitle">
        Code postal :
    </div>
</mat-list-item>
<mat-divider></mat-divider>
<mat-list-item>
    {{ userAddress?.city?.postalCode }}
</mat-list-item>
<mat-list-item>
    <div class="blueTitle">
        Ville :
    </div>
</mat-list-item>
<mat-divider></mat-divider>
<mat-list-item>
    {{ userAddress?.city?.cityName }}
</mat-list-item>

<div *ngIf="userAddress?.complementaryAddress; else emptyComplementaryAddress">
    <mat-list-item>
        <div class="blueTitle">
            Complément d'adresse :
        </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        {{ userAddress?.complementaryAddress }}
    </mat-list-item>
</div>
<ng-template #emptyComplementaryAddress></ng-template>