<div class="articleCard">
  <div class="articleImage">
    <img src="{{ game?.image }}" alt="exemple d'un jeu de société" />
  </div>

  <div class="articleDescription">
    <h3>Description</h3>
    <p>{{ game?.gameDescr }}</p>
  </div>

  <div class="articleEnd">
    <div class="content">
      <h4>Editor</h4>
      <p>My Editor</p>
    </div>
    <div class="content">
      <h4>My category</h4>
      <p>Category</p>
    </div>
    <div class="content">
      <h4>Price</h4>
      <p>{{ game?.gamePrice }}&euro;</p></div>
  </div>
</div>
