@use "../../../../../sass/mixins" as m;
.articleCard {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  justify-content: center;
  border-radius: 5px;
  align-items: center;
  margin: 1rem 2rem;
  align-items: center;

  @include m.bk-tablette-max-M {
  }
  .articleImage {
    text-align: center;
    width: 30%;

    @include m.bk-tablette-max-M {
      min-width: 50%;
    }
    img {
      padding: 1rem;
      max-width: 100%;

      @include m.bk-tablette-max-M {
        max-height: 200px;
      }
    }
  }
  .articleDescription {
    padding: 1rem;
    width: 40%;

    @include m.bk-tablette-max-M {
      display: none;
    }
    h3 {
      padding-bottom: 1rem;
      text-align: center;
    }
    p {
      text-align: center;
      text-align: center;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;
    }
  }
  .articleEnd {
    text-align: center;
    width: 50%;
    padding-top: 1rem;

    @include m.bk-tablette-max-M {
      width: 50%;
      padding-top: 0rem;
    }
    .content {
      display: flex;
      align-items: center;
      text-align: center;

      p,
      h4 {
        display: block;
        width: 45%;
        margin: 6px 0rem;
        text-align: center;
        @include m.bk-tablette-max {
          margin: 2px;
          font-size: 12px;
        }
      }
    }
  }
}
