.card {
  margin: 1rem;
  border: none;
  display: flex;
  flex-direction: row;
  &-img-top {
    width: 70%; 
    height: 350px;
    border: none;
  }
  &-body {
    width: 0%;
    margin: 4px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content:space-around;
    background-color: var( --secondary);
    align-items: center;
    border-radius:10px;
    p {
      margin: 0;
      font-size: 1.4rem;
    }
    .footer-element {
      margin: 0;
    }
  }
}
