@use "../../../../../sass/mixins" as m;

.articleCard {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 5px 1px #000;
  margin: 1rem 1rem;
  background-color: var(--whitegray);
  cursor: pointer;

  @include m.bk-laptop {
    flex-direction: row;
    justify-content: space-between;
  }

  .articleImage {
    display: flex;
    @include m.bk-laptop {
      flex-basis: 20%;
    }

    img {
      width: 100%;
      height: 150px;
      border-bottom: 4px solid var(--primary);

      @include m.bk-tablette {
        border: none;
      }

      @include m.bk-laptop {
        height: 175px;
      }
    }
  }

  .articleDescription {
    @include m.bk-laptop {
      flex-basis: 40%;
      flex-grow: 1;
      margin: auto;
    }

    h3 {
      font-size: 1.4rem;
      color: var(--blue-primary);
      text-align: center;

      @include m.bk-tablette {
        font-size: 1.8rem;
        font-weight: bold;
      }
    }

    p {
      font-size: 14px;
      color: #666;
      display: -webkit-box;
      text-align: center;
      margin: 6px;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;

      @include m.bk-laptop {
        -webkit-line-clamp: 6;
        font-size: 16px;
      }
    }
  }

  .articleEnd {
    background-color: var(--blue-primary);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;


    @include m.bk-laptop {
      flex-basis: 15%;
      flex-direction: column;
      font-weight: bold;
      letter-spacing: 1px;
    }

    p {
      font-size: 14px;
      text-align: center;
    }
  }
}
