@use '../../../../sass/mixins' as m;

// Classe qui permet de faire un style sur tous les boutons
.btn {
    border-radius: 20px;
    cursor: pointer;
}

// Style pécifique à la cette classe de bouton
.btn-log {
    padding: 5px 25px;
    background-color: white;
    border: 1px solid white;
    color: black;
    font-weight: bold;
}

.btn-dekstop {
    visibility: hidden; 

    @include m.bk-tablette {
        visibility: visible;
    }
}

.btn-add {
    background-color: var(--primary) ;
    height: 30px;
    width: 150px;

    @include m.bk-tablette {
        height: 50px;
        width: 160px;
        font-size: 1.1rem;    
    }
}