<div class="container">
    <h1>Connexion au Compte</h1>
    <h4>Déjà Client ?</h4>
    <h4>Connectez-vous</h4>

    <form action="" class="cardConnection" [formGroup]="formGroup">
        <app-input forInput="mail" textLabel="Email" typeInput="texte" placeholderInput="Email"></app-input>
        <app-input-password></app-input-password>
        <div class="check">
            <div class="remind-me">
                <input type="checkbox" name="remind" id="remind">
                <label for="remind">Se souvenir de moi</label>
            </div>
            <a routerLink="" class="link">Mot de passe oublié ?</a>
        </div>
        <app-btn-component classBtn="btn btn-submit" textBtn="Connexion"></app-btn-component>
        <div class="subscribe">
            <p>Tu n'as pas de compte ?</p>
            <a routerLink="../signin" class="link">Enregistre toi ici</a>
        </div>
    </form>
</div>
