@use "../../../../../sass/mixins" as m;

.container {
    margin: auto;
    text-align: center;
    padding: 20px;
    // border: 2px solid green;
    font-family: var(--font-rosario);

    h1,
    h4 {
        padding: 5px;
        font-family: var(--font-raleway);
        font-weight: lighter;
    }

    .cardConnection {
        app-input {
            margin: 20px;
        }
        .check {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: auto;
            padding-top: 15px;
            align-items: center;

            @include m.bk-tablette {
                flex-direction: row;
            }

            .remind-me {
                display: flex;
                align-items: center;
                padding-bottom: 15px;

                input {
                    margin-right: 10px;
                }
            }
        }

        .link {
            color: var(--blue-primary);
        }

        .subscribe {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 30px;

            @include m.bk-tablette {
                flex-direction: row;
            }

            p {
                padding-bottom: 15px;

                @include m.bk-tablette {
                    padding-bottom: 0px;
                }
            }

            .link {
                @include m.bk-tablette {
                    padding-left: 10px;
                }
            }
        }

        @include m.bk-tablette {
            border-radius: 7px;
            width: 40%;
            margin: auto;
            margin-top: 25px;
            padding: 15px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        }

    }


}
