<div class="cards">
    <ng-container *ngIf="orders.length != 0">
        <div class="card" *ngFor="let order of orders">
            <div class="header">Commande n° {{ order.orderId }}</div>
            <div class="body">
                <div class="line">
                    <p><strong>Date de commande</strong></p>
                    <p>{{ order.orderDate | date: 'dd/MM/yyyy' }}</p>
                </div>
                <div class="line">
                    <p><strong>Prix</strong></p>
                    <p>{{ order.price }} €</p>
                </div>
                <div class="line">
                    <p><strong>Date de retour</strong></p>
                    <p>{{ order.returnDate | date: 'dd/MM/yyyy' }}</p>
                </div>
            </div>
        </div>
    </ng-container>
</div>
