<ng-container [formGroup]="form">
<div class="container">
  <label [for]="forInput">
    <div>{{textLabel}}</div>
  </label>
  <div class="input-eye">
    <input [type]="showPassword ? 'password' : 'text'" placeholder="****" [id]="forInput" [formControlName]="forInput"/>
    <span (click)="toggleShow()">
        <i [ngClass]="showPassword ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"></i>
    </span>
  </div>
  <ng-container *ngIf="checkValidity()">
    <app-error-message [errors]="errors"></app-error-message>
  </ng-container>
</div>
</ng-container>
